@page "/login"

@* try to move this *@ 
<h3>login</h3>

<form action="" method="post">
    <input name="email" placeholder="email" />
    <input name="password" type="password" placeholder="password" />
    <button type="submit">login</button>
</form>
