@page "/register"

<h3>register</h3>

<form action="/form/register" method="post">
    <input name="username" placeholder="username" required />
    <input type="email" name="email" placeholder="email" required />
    <input type="password" name="password" placeholder="password" required />
    <button type="submit">register</button>
</form>